// $ initiates a variable in SASS which is a language extension that compiles to CSS (Similar to how CoffeeScript compiles to JavaScript) since CSS does not feature variables on its own.

$first: white;
$second: #090c31;
$third: #5853ff;
$dark: rgb(44,44,44);
$text-1: "Roboto";
$text-2: "ubuntu";